body {
    background: scroll linear-gradient(#bae2ff, #ffffff);
    background-size: 300% 300%;
    min-height: 100vh;
    max-width: 100%;
    animation: color 10s ease-in-out infinite;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    color: #232528;
    font-size: 1.1em;
    margin: 0;
    border-top:#FFA400 solid 5px;
}
@keyframes color {
    0% {
        background-position: 50% 0;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0;
    }
}

h1 {
    color: #03045E;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.title-logo{
    align-items: center;
    display: flex;
}
.logo {
    display: block;
    align-self: center;
    width: 35px;
    height: 35px;
    margin-left: 0;
}
a.site-name{ 
    margin: 0 20px;
    display: block;
    padding: 0;
    font-family: papyrus, fantasy;
    color: #fff;
    text-decoration: none;
    font-weight: 1000;
    transition: 0.2s;
}
p.tagline{
    font-family: URW Chancery L, cursive;
    font-size: 0.74em;
}
a.site-name:hover{
    scale: 110%;
    transition: 0.2s;
}
/* Start Main NavBar CSS ------ */
.nav-header{
    margin: 0;
}
.mainNav {
    display: flex;
    background-color: #0047ab; 
    color: #fff;
    justify-content: space-between;
    padding: 0 15px;
    height: 65px;
    line-height: 65px;  
}
.mainNav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.mainNav ul li {
    position: relative;
    cursor: pointer;
    height: 100%;
    padding: 0 15px;
    transition: 0.4s;  
    text-align: center; 
    font-size: 15px;
}
.mainNav ul a {
    text-decoration: none;
    color: #EAF6FF;
    line-height: 65px;
    font-weight: 500;

}
.mainNav ul li .dropdown{
    width: 100%;
    background: #03045E;
    position:relative;
    z-index: 999;
    display: none;
}
.mainNav ul li .dropdown a{
    display: block;
    padding: 0;
}
.mainNav ul li.active,
.mainNav ul li:hover {
    background: #3195ff;
    transition: 0.4s ease-in-out;
}
.mainNav ul li:hover ul.dropdown{
    display: block;
    
}
.mainNav .navBar-toggle{
    display: none;
    height: min-content;
    margin: 16px 0 0 0;
    cursor: pointer;
    align-items: center;
}
.mainNav .navBar-toggle .bar{
    width: 40px;
    height: 4px;
    margin-bottom: 9px;
    border-radius: 3px;
    background-color: white;
    transition: .4s;
}
input#toggle{
    display: none;
}
input:checked ~ .mainNav ul{
    transform: translateY(0);
    z-index: 0;
}
input:checked ~ .mainNav .navBar-toggle{
    margin: 37px 37px 0 0 ;
    z-index: 1;
}
input:checked ~ .mainNav .navBar-toggle .bar:nth-child(1){

    position: absolute;
    transform: rotate(45deg);
}
input:checked ~ .mainNav .navBar-toggle .bar:nth-child(2){
    display: none;
}
input:checked ~ .mainNav .navBar-toggle .bar:nth-child(3){
    position: absolute;
    transform: rotate(-45deg);
}
/*End Main NavBar CSS*/

h1 {
    color: #03045E;
}
.page-header {
    text-align: center;
    margin: 8vh 0;
    margin-left: 0;
    margin-right: 0;
}  

/*Start Footer*/
#footer-hr {
    background-color: #03045E;
    height: 3px;
    width: 85%;
    border: none;
    justify-items: center;
    margin: auto;

}
img.top-button{
    height: 5vh;
    width: auto;
    margin-left: 85%;
    transition: 150ms ease-in-out;
}
img.top-button:hover {
    scale: 1.07;
    transition: 150ms ease-in-out;
}
.footer {
    margin: 5vh 8vw;
}
.footer-header, .footer-content {
    display: flex;
}
.footer-header-1{
    display: block;
}
.footer-content-1 {
    display: block;
    width: 50%;
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: justify;
}
.footer-content-1 a{
    color: #03045E;
    text-decoration: none;
}
.social-icons{
    display: block;   
}
.social-icons img {
    display: inline;
    width: 35px;
    height: auto;
    margin: 0 5px 0;
    transition: 0.2s ease-in-out;
}
.social-icons img:hover {
    scale: 0.9;
    transition: 0.2s ease-in-out;
}

.footer-logo {
    display: block;
    width: 70px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.footer-credits {
    display: block;
    text-align: center;
    margin: 30px auto;
    font-size: 0.8em;
    color: #03045E;
}
.footer-credits a {
    text-decoration: none;
    transition: 200ms ease-in-out;
}
.footer-credits a:hover {
    color: #3195ff;
    transition: 200ms ease-in-out;
}

/*End Footer*/



/*
STYLING FOR SMALLER LAPTOPS/ TABLETS
DISPLAY WIDTH <= 1366px
*/
@media (max-width: 1366px){
    a.site-name{
        padding: 0;
    }
/*Start Main Nav - Responsive*/
    .mainNav {
        padding: 0 2rem;
    }
    .mainNav ul {
        display: grid;
        position: absolute;
        background-color: #0047ab;
        text-align: center;
        opacity: 0.93; 
        width:100%;
        top: 65px;
        left: 0;
        transform: translateY(-100%);
        z-index: -1;
        transition: 0.5s;
    }
    .mainNav ul li {
        padding: 0;
    }
    .mainNav .navBar-toggle{
        display: grid !important;
    }

    .mainNav ul li .dropdown{
        position:sticky;
        z-index: 999;
        display: none;  
        transition: 0.4s;
    }
    .mainNav ul li .dropdown a{
        line-height: 65px;
        display: block;
        transition: 1s;
    }
    .mainNav ul li:hover .dropdown{
        background-color: #03045E;
        display:block;
        width: 100% !important;
        line-height: 65px;
        
    }

    img.grid-image {
        width: 270px;
        margin: 3vh 10px;
        transition: 250ms ease-in-out;
    }  
    .footer {
        margin: 3vh 8vw;
    }
    .footer-header, .footer-content {
        display: block;
    }
    .footer-header-1{
        display: block;
    }
    .footer-content-1 {
        display: block;
        width: 90%;
        margin-bottom: 50px;
    }
}
@media (max-width: 600px){
    p.tagline{
        display: none;
    }
}


/*End Main Nav - Responsive*/